.input-group .input-group-addon .material-icons {
  padding: 8px 12px;
  padding: 0.5rem 0.75rem;
  margin-bottom: 0;
  
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.25;
  color: #495057;
  text-align: center;
  background-color: #e9ecef;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}
.input-group .input-group-addon .material-icons{
  color: #03A9F4;
  
}
b{
  float: left;
  color: #03A9F4;
}